.filterAndCarousel {
    .shipsCarousel {
        height: 251px;
        padding: 0 15px;
        gap: 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: scroll;
    }
}