@use '../abstracts' as *;

.filter {
    position: relative;

    .filterBtn {
        margin: $defaultGap;
    }

    .filterModal {
        position: absolute;
        z-index: 4;
        left: $defaultGap;
        width: 270px;
        padding: $defaultGap;
        border: 1px solid $filterModalBorderColor;
        border-radius: 5px;
        top: -430px;
        background-color: $backgroundFilterModalColor;
        box-shadow: 0px 2px 0px 0px $boxShadowFilterModalColor;

        hr {
            margin: $defaultGap 0;
        }

        .filterSections {
            .type {
                margin-bottom: $defaultGap;
            }

            .nation {
                margin-bottom: $defaultGap;
            }

            .buttons {
                display: flex;
                flex-wrap: wrap;
                gap: $defaultGap;

                .ant-btn {
                    width: 32px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}