$black: #000;
$white: #fff;
$gallery: #f0f0f0;

$defaultLinkColor: $black;
$titleShipColor: $white;
$titleShipShadowColor: $black;
$levelShipColor: $white;
$levelShipShadowColor: $black;
$filterModalBorderColor: $gallery;